body{
  background-color: #7CEBF7;
}

header{
  margin-left: 550px;
  font-family: brushstroke,fantasy;
  font-size: 50px;
}

div{
  margin-left: 650px;
}

#art {
  display: table;
  margin-left: 250px;
  border-spacing: 1px;
  background-color: black;
  border: 5px solid black;
}

.row {
  display: table-row;
  table-layout: auto;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 10px;
  height: 10px;
}
h1 {
  background-color: #7CEBF7;
  /* background-position: center; */
  font-family: fantasy;
  font-size: 50px;
  margin-left: -50px;
}

button{
  background-color: white;
  width: 40px;
  height: 40px;
}

#buttonRed{
  background-color: red;
  width: 40px;
  height: 40px;
}
#buttonBlue{
  background-color: blue;
}
#buttonYellow{
  background-color: yellow;
}
#buttonGreen{
  background-color: green;
}
#buttonPurple{
  background-color: purple;
}
#buttonBrown{
  background-color: brown;
}
#buttonBlack{
  background-color: black;
}
#buttonWite{
  background-color: white;
}
